<div class='shelf-page'>
  <h1 class='mb-5'>
    <b>{{shelf.title}}</b> shelf
  </h1>
  <div class='alert alert-primary' *ngIf="!books.length">
  {{shelf.title}} is empty!
  </div>
  <table class='table' *ngIf="books.length">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Date</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let book of books" >
      <td>
        <img [src]='book.small_image_url' alt="Image not found"/>
      </td>
      <td>{{book.title}}</td>
      <td>
        {{book.author}}
      </td>
      <td>
        <span (show)="getDate(book)">
          {{getDate(book)}}
        </span>
        <span (show)="!getDate(book)">
          Unknown
        </span>
      </td>
      <td class="action">
        <span (click)="removeBook(book)" title="  Remove from shelf" class='remove m-3'>
                          <i class='fa fa-trash mr-1'></i>
        </span>
      </td>

    </tr>
  </table>

  <div class='search-books'>
    <form class='search-form' (ngSubmit)="searchBooks()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search book ..."
               aria-label="Recipient's username" aria-describedby="button-addon2"
               name='searchInput' [(ngModel)]="query"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
            Search
          </button>
        </div>
      </div>
      <span class='clear-search' (click)="foundBooks=[];query=''">
        <i class='fa fa-times mr-2'></i>
                        Clear Search
      </span>
    </form>
    <div class='found-books'>

      <div *ngFor="let book of foundBooks" class='found-book card'>
        <div class="left">
          <img [src]="book.image_url" class="card-img-top" alt="Image not found"/>
        </div>
        <div class="right">
          <h6>{{book.title}}</h6>
          <div>
            Author: {{book.author}}
          </div>
          <div *ngIf="getDate(book)">
            Published on: {{getDate(book)}}
          </div>
          <div class='rating'>
            <span *ngFor="let i of Arr(round(book.average_rating)).fill(1)" class="fa fa-star checked"></span>
          </div>
          <div class='action'>
            <button (click)="addBook(book)" type="button" class="btn btn-outline-primary">
              Add to {{shelf.title}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
