<nav class="navbar navbar-expand-lg navbar-light alert-dark">
  <a class="navbar-brand" href="/">
    <i class="fab fa-angular fa-2x" style="{'color': 'dodgerblue'}"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="nav-link">
          <a routerLink='/' activeClassName='menu selected'>HOME</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <a routerLink='/shelves' activeClassName='menu selected'>My Shelves</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
